@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input,figure{
  margin:0;
  padding:0;
}
body{
  font-family: "微软雅黑",Arial;
  width:100%;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  display:block;
  border: 0;
  
}

//字体小图标
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
//雪碧图
.s1{
  background:url("../img/s1.png");
}
.s3{
  background:url("../img/s3.png");
}
.s4{
  background:url("../img/s4.png");
}

.s5{
  background:url("../img/footer_bg.png") no-repeat;
}

.as1{
  background:url("../img/sidebar_icon_1x.png");
}
.as2{
  background:url("../img/sidebar_icon_1x.png");
}

.as3{
  background:url("../img/fix_box_iconpng.png");
}


//吸顶效果
.top-dd{
  display:none;
  z-index: 110;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:51px;
  background:rgba(213,31,41,1);
  border-top:1px solid #6e6e6e;
  .tops{
    width:1200px;
    margin: 0 auto;
    a{
      float:left;
      width:210px;
      img{
       margin-top:7px;
      }
    }
    form{
      float:left;
      line-height: 51px;
      .topss1{
        width:716px;
        height:32px;
        background:#fff;
        border:none;
        vertical-align: middle;
      }
      .topss2{
        width:32px;
        margin-left:-5px;
        height:32px;
        vertical-align: middle;
        border:none;
        outline: none;
      }
      .s3{
        background-position:-9px -350px;
      }
    }
  }
}

//侧边栏
.asids1{
  border-top:1px solid #6e6e6e;
  position: fixed;
  z-index: 210;
  top:0;
  right:0;
  width:34px;
  height:305px;
  a{
    position: relative;
    display:block;
    width:34px;
    height:34px;
    span{
      position:absolute;
      left:100px;
      line-height:34px;
      text-align: center;
      top:0;
      font-size: 12px;
      color:#fff;
      background:#4f4f4f;
      display: inline-block;
      height:34px;
      width: 79px;
    }
    &:first-child{
      height:134px;
    }
  }
  .as1{
    &:nth-child(2){
      background-position:0 0px;
      &:hover{
        background-position:-40px 0px;
      }
    }
    &:nth-child(3){
      background-position:0 -35px;
      &:hover{
        background-position:-40px -35px;
      }
    }
    &:nth-child(4){
      background-position:0 -70px;
      &:hover{
        background-position:-40px -70px;
      }
    }
    &:nth-child(5){
      background-position:0 -105px;
      &:hover{
        background-position:-40px -105px;
      }
    }
    &:nth-child(6){
      background-position:0 -210px;
      &:hover{
        background-position:-40px -210px;
      }
    }
  }
}

.asids2{
  position: fixed;
  z-index: 211;
  bottom:4px;
  right:0;
  width:34px;
  a{
    display:block;
    position:relative;
    width:34px;
    height:34px;
    img{
      position: absolute;
      left:500px;
      top:0px;
    }
    span{
      display:inline-block;
      position: absolute;
      left:500px;
      top:0px;
      width:79px;
      height:34px;
      color:#fff;
      font-size:12px;
      line-height:34px;
      text-align: center;
    }
  }
  .as1{
    background-position:0 -140px;
    &:hover{
      background-position:-40px -140px;
    }

    &:nth-child(2){
      background-position:0 -175px;
      &:hover{
        background-position:-40px -175px;
        &:hover span{
          left:-79px;
        }
      }
    }
    &:nth-child(3){
      background-position:0 -245px;
      &:hover{
        background-position:-40px -245px;
      }
    }
  }
  span{
    display: block;
    margin-top:1px;
    background:#474747;
    height:30px;
    width:34px;
    color:#ffffff;
    font-size:12px;
    text-align: center;
    line-height:30px;
  }
}

.asids3{
  float:left;
  width:38px;
  position:fixed;
  bottom:8px;
  left:35px;
  display:none;
  background:#f6f6f6;
  li{
    width:38px;
    height:40px;
    position:relative;
    span{
      display: inline-block;
      line-height: 40px;
      height:40px;
      font-size:12px;
      color:#fff;
      width:55px;
      padding-left:15px;
      padding-right:15px;
      position: absolute;
      top:0;
      left:38px;
    }
  }
  .as3{
    background-position: 0 0;
    &:hover{
      background-color: #93d46f;
      span{
        background-color: #93d46f;
      }
    }
    &:nth-child(2){
      background-position :0 -40px;
      &:hover{
        background-color:#f97f67;
        span{
          background-color: #f97f67;
        }
      }
    }
    &:nth-child(3){
      background-position:0 -80px;
      &:hover{
        background-color:#72d599;
        pan{
          background-color: #72d599;
        }
      }
    }
    &:nth-child(4){
      background-position:0 -120px;
      &:hover{
        background-color:#ff857f;
        pan{
          background-color: #ff857f;
        }
      }
    }
    &:nth-child(5){
      background-position:0 -160px;
      &:hover{
        background-color:#f97f67;
        pan{
          background-color: #f97f67;
        }
      }
    }
  }


}

//header
.header {
  width: 100%;
  border-bottom:3px solid #ff2832;
  &:after{
    content:"";
    clear:both;
    display: block;
    height:0;
    overflow: hidden;
    visibility: hidden;
  }
  .head {
    width: 1200px;
    margin: 0 auto;
    display: block;
    //height:50px;
    overflow:hidden;
  }
  .h-nav {
    width: 100%;
    height: 34px;
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    .nav {
      width: 1200px;
      margin: 0 auto;
      &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      .address {
        float: left;
        margin-top: 2px;
        height: 24px;
        line-height: 24px;
        text-indent: 8px;
        padding-right: 11px;
        font-size: 12px;
        color: #646464;
        position:relative;
        .s1 {
          display: inline-block;
          margin-left: 4px;
          background-position: 45px 0;
          width: 5px;
          height: 5px;
        }
        ul {
          background:#ffffff;
          position:absolute;
          top:22px;
          left:0px;
          z-index: 10;
          width: 296px;
          border: 1px solid #e6e6e6;
          padding: 8px 0px 5px 12px;
          overflow: hidden;
          display: none;
          li {
            float: left;
            width: 58px;
            height: 27px;
            line-height: 27px;
            font-size: 12px;
            color: #646464;
          }
        }
      }
      .h-nav-nav {
        margin-top: 2px;
        float: right;
        height: 32px;
        .h-hi {
          float: left;
          width: 185px;
          font-size: 12px;
          color: #646464;
          padding-left: 5px;
          height: 34px;
          line-height: 34px;
          a {
            display: inline-block;
            color: #ff2832;
            height: 34px;
            line-height: 34px;
            &:first-child {
              width: 24px;
            }
            &:last-child {
              width: 50px;
              margin-left: 5px;
              color: #646464;
              &:hover{
                color:#ff2832;
              }
            }
          }
        }
        ul {
          float: left;
          li {
            &:hover a{
              color:#ff2832;
            }
            position: relative;
            float: left;
            padding: 0 8px 0 7px;
            height: 34px;
            line-height: 34px;
            background: url(../img/bj1.jpg) no-repeat center left;
            &:first-child {
              background: none;
            }
            a {
              color: #646464;
              font-size: 12px;
              height: 14px;
              line-height: 34px;

            }
            .s2 {
              display: inline-block;
              background: url("../img/car.jpg");
              margin: 0 9px 0 12px;
              width: 15px;
              height: 14px;
            }
            .s1 {
              display: inline-block;
              margin-left: 4px;
              background-position: 45px 0;
              width: 5px;
              height: 5px;
            }
            ul {
              position: absolute;
              top: 28px;
              left: 0;
              background:#ffffff;
              display: none;
              li {
                clear: both;
                background: none;
                line-height: 22px;
                height: 22px;
                padding: 0px;
                text-indent: 8px;
              }
            }
          }
          .hea-lix:hover ul{
            display:block;
            a{
              color:#646464;
              &:hover{
                color:#ff2832;
              }
              
            }
          }
        }
      }
    }
  }
  .h-sech {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .imgs {
      float: left;
    }
    .serch {
      padding-top: 20px;
      float: left;
      form {

        .soucuo {
          width: 408px;
          height: 36px;
          text-indent: 8px;
          color: #666666;
          font-size: 12px;
          border: 2px solid #ff2832;
          border-right: none;
          vertical-align: bottom;
          outline: none;
        }
        .cus {
          margin-left: -5px;
          width: 106px;
          height: 40px;
          border: 2px solid #ff2832;
          text-indent: 14px;
          border-left: none;
          color: #969696;
          vertical-align: bottom;
          background: #f6f6f6;
          font-size: 16px;
          outline: none;
          option {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #646464;
            background: #fff;
            outline: none;
          }
        }
        .chaxun {
          margin-left: -5px;
          height: 40px;
          width: 48px;
          border:none;
          display: inline-block;
          vertical-align: bottom;
        }
        .s3 {
          background-position: 0px -390px;
        }
      }
      .sec-bottom {
        &:after {
          content: "";
          clear: both;
          display: block;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }
        .box1 {
          float: left;
          color: #969696;
          font-size: 12px;
          line-height: 30px;
          a {
            margin: 0 8px;
            color: #969696;
          }
        }
        .goa {
          float: right;
          color: #969696;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
    .dcn {
      float: right;
      padding-top:20px;
      width: 200px;
      height: 40px;
      a{
        float:left;
        font-size:12px;
        svg{
          float:left;
          padding-left:3px;
          font-size:24px;
          height: 40px;
          line-height:40px;
        }
      }
      .a1{
        height:40px;
        background:#ff2832;
        width:111px;
        text-indent:8px;
        line-height:40px;
        color:#fff;
        .s4 {
          display: inline-block;
          background-position: 0px -4px;
          width: 23px;
          height: 27px;
        }
      }
      .a2{
        height:36px;
        border:2px solid #dcdcdc;
        border-left:none;
        background:#f6f6f6;
        width:86px;
        color:#64647a;
        text-align: center;
        line-height:36px;
      }
    }
  }
  .h-bot{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    li{
      float:left;
      height:40px;
      &:hover a{
        color:#ff2832;
      }
      &:first-child{
        background:#ff2832;
        a{
          width:155px;
          margin:0 20px;
          color:#ffffff;
          span{
            float:right;
            width:12px;
            height:7px;
            padding-right:7px;
          }
        }
      }
     a{
       line-height:40px;
       height:40px;
       font-size:12px;
        display:block;
        margin-left:32px;
        color:#323232;
        font-weight: 600;
      }
    }
  }
}

//banner
.banner{
  width:100%;
  margin-bottom:30px;
   .ban{
     width:1200px;
     margin:0 auto;
     height:488px;
     .ban-boxleft{
       width:200px;
       height:487px;
       position: relative;
       float:left;
       ul{
         background:#fafafa;
         height:483px;
         padding-top:5px;
         li{
           height:30px;
           width:182px;
           padding-left:18px;
           a{
             color:#323232;
             font-size:12px;
             line-height: 30px;
             margin-right:10px;
           }
         }
       }
       .ban-left-b1{
         display:none;
         padding:7px 19px 0 18px;
         position: absolute;
         top:0px;
         left:199px;
         width:997px;
         min-height:488px;
         background:#fff;
         div{
            line-height:26px;
            a{
              line-height:20px;
              display:inline-block;
              height:20px;
              padding:0 8px;
              background:#a2a2a2;
              color:#fff;
              font-size:12px;
            }
         }
         li{
           width:997px;
           height:35px;
           padding:0;
           a{
             float:left;
             width:70px;
             height:35px;
             line-height:35px;
             font-size:12px;
             color:#ff2832;
             margin:0;
           }
           ul{
              float:left;
              height:auto;
              width:890px;
              padding:0;
             background:#fff;
              border-bottom:1px dashed #e6e6e6;
             li{
               width:890px;
               a{
                 line-height:35px;
                 color:#646464;
                 display:inline-block;
                 padding:0 10px;
                 background:#fff;
                 width:auto;
               }
             }
           }
         }
       }
     }
     .ban-b-con{
       float:left;
       width:796px;
       .cont1 {
         width: 796px;
         height:326px;
         .swiper-pagination .swiper-pagination-bullet {
           width:20px;
           height:20px;
         }
       }
       .cont2 {
         width: 794px;
         height:160px;
         border:1px solid #e6e6e6;
         ul{
           width: 794px;
           height:160px;
           li{
             float:left;
             width:198px;
             height:160px;
             border-right:1px solid #e6e6e6;
             &:last-child{
                border:none;
               width:197px;
             }
           }

       }
         
       }
     }
     .ban-b-right{
       float:left;
       width:202px;
       height:486px;
       border:1px solid #e6e6e6;
        .b-r-1{
          display:block;
        }
       .b-r-c{
         height:171px;
         boder-bottom:1px solid #e6e6e;
         position:relative;
         border-top:1px solid #e6e6e6;
         border-bottom:1px solid #e6e6e6;
         .rc-t{
           height:29px;
           span{
             display: inline-block;
             width:98px;
             height:28px;
             font-size:12px;
             color:#646464;
             background:#f0f0f0;
             border-bottom:1px solid #e6e6e6;
             line-height:28px;
             text-align:center;
             border-right:1px solid #e6e6e6;
             &:last-child{
               border-right:none;
             }
           }
         }
         ul{
           padding-top:8px;
           width:100%;
           position: absolute;
           background:#fff;
           left:0;
           top:29px;
           li{
             margin-left:10px;
             line-height:25px;
             font-size:12px;
             color:#646464;
           }
         }
       }
       .b-r-t{
         height:118px;
         width:202px;
         .btt1{
           height:118px;
           width:202px;
         }
       }
     }
   }
}

//center
.center{
  .c1{
    overflow: hidden;
    width:1200px;
    margin:0 auto 30px;
    .c1L{
      float:left;
      width:996px;
      .c1l-t{
        width:100%;
        height:39px;
        overflow: hidden;
        border-bottom:2px solid #3c3c3c;
        a{
          float:left;
        }
        .timers{
          float:left;
          margin:0px 95px 0 20px;
        }
        .tto{
          float:left;
          a{
            margin-right:56px;
            color:#666666;
            font-size:20px;
            line-height:39px;
          }
        }
      }
      .c1l-b{
        width:100%;
        overflow: hidden;
        border-right:1px solid #e6e6e6;
        border-bottom:1px solid #e6e6e6;
        li{
          float:left;
          width:198px;
          border-top:1px solid #e6e6e6;
          border-left:1px solid #e6e6e6;
          .imgss{
            display:block;
            img{
              //width:150px;
              margin:10px auto 0px;
            }
          }
          .box1{
            width:150px;
            height:8px;
            margin:0px auto;
            position:relative;
            background:#ffb7b7;
            border-radius: 3px;
            span{
              position:absolute;
              color:#ffffff;
              font-size:12px;
              text-align:center;
              line-height:20px;
              &:first-child{
                left:0;
                top:0;
                width:30px;
                height:8px;
                border-radius:3px;
                background:#fc2c3a;
              }
              &:last-child{
                left:37px;
                top:-6px;
                width:76px;
                height:20px;
                border-radius:10px;
                background:#fe8d91;
              }          
            }
          }
          .redus{
            display: block;
            margin-top:6px;
            color:#646464;
            font-size:12px;
            line-height:24px;
            text-indent:10px;
            width:180px;
            overflow:hidden;
            white-space: nowrap;
          }
          p{
            margin-bottom:7px;
            color:#ff2832;
            font-size:14px;
            line-height:22px;
            text-indent:10px;
            .yjs{
              font-size:12px;
              color:#969696;
              //line-height:22px;
              //text-indent:10px;
              text-decoration-line: line-through;
            }

          }
        }
      }
    }
    .c1R{
      float:left;
      width:204px;
      .c1r-t{
        height:39px;
        border-bottom:2px solid #ff2832;
        h4{
          float:left;
          line-height:39px;
          width:80px;
          text-indent:8px;
          color:#ff2832;
          font-size:20px;
        }
        span{
          margin-top:16px;
          float:right;
          width:8px;
          height:8px;
          border-radius:50%;
          margin-right:6px;
          background:#ff2832;
        }
      }
      .c1r-b{
        ul{
          width:100%;
          li{
            width:202px;
            height:113.2px;
            border:1px solid #e5e5e5;
            border-top:none;

          }
        }
      }
    }
  }
  .c2{
    margin-bottom:30px;
     .c2t{
       width:1200px;
       margin:0 auto;
       .aleft{
         float:left;
         height:40px;
       }
       .aright{
         float:right;
         height:40px;
         line-height:40px;
         color:#fa5c98;
         font-size:12px;
       }
     }
    .c2b{
      overflow: hidden;
      width:1199px;
      margin:0 auto;
      border-top:1px solid #e6e6e6;
      border-left:1px solid #e6e6e6;
      li{
        float:left;
        width:198.84px;
        overflow: hidden;
        border-right:1px solid #e6e6e6;
        border-bottom:1px solid #e6e6e6;
      }
      .li2-1{
        height:280px;
      }
      .li2-2{
        height:238px;
      }
      .li2-3{
        width:198px;
        line-height: 98px;
        a{
          float:left;
          &:nth-child(1){
            width:99px;
            height:119px;
            border-right:1px dashed #e6e6e6;
            border-bottom:1px dashed #e6e6e6;
          }
          &:nth-child(2){
            width:98px;
            height:119px;
            border-bottom:1px dashed #e6e6e6;
          }
          &:nth-child(3){
            width:99px;
            height:118px;
            border-right:1px dashed #e6e6e6;
          }
          &:nth-child(4){
            width:98px;
            height:118px;
          }
          img{
            margin:34px auto;
          }
        }
      }
    }
  }
  .c3{
    width:1200px;
    overflow:hidden;
    margin:0 auto 30px;
    .c3-left{
      width:910px;
      margin-right:10px;
      float:left;
      .c3l-top{
        height:46px;
        margin-bottom:10px;
        h3{
          float:left;
          width:333px;
          height:44px;
          color:#323232;
          font-size:20px;
          line-height:44px;
          border-bottom:2px solid #000000;
        }
        ul{
          float:left;
          li{
            float:left;
            width:114px;
            height:43px;
            text-align:center;
            line-height:43px;
            background:#f5f5f5;
            border-right:1px solid #e6e6e6;
            border-top:1px solid #e6e6e6;
            border-bottom:2px solid #000000;
          }
        }
        
      }
      .c3l-bot{
        border-top:1px solid #e6e6e6;
        .c3B1{
          .b1-l{
            float:left;
            //position:relative;
            width:238px;
            border:1px solid #e6e6e6;
            border-top:none;
            .books{
              display:block;
              height:329px;
              overflow: hidden;
            }
            .box31{
              //position:absolute;
              //left:0;
              //top:329px;
              width:238px;
              padding-left:8px;
              a{
                display:inline-block;
                width:75px;
                text-indent:10px;
                font-size:12px;
                margin-top:3px;
                line-height:25px;
                color:#323232;
              }
            }
          }
          .b1-r{
             li{
               padding-top:5px;
               height:215px;
               border-right:1px solid #e6e6e6;
               border-bottom:1px solid #e6e6e6;
            float:left;
               width:166px;
               img{
                 margin:0px auto;
               }
               a{
                 display:block;
                 width:146px;
                 font-size:12px;
                 color:#646464;
                 overflow: hidden;
                 white-space: nowrap;
                 line-height:18px;
                 text-indent:10px;
               }
               p{
                 margin-bottom:22px;
                 font-size:14px;
                 color:#ff2832;
                 line-height:18px;
                 text-indent:7px;
                 span{
                   font-size:10px;
                   text-decoration-line: line-through;
                   color:#969696;
                 }
               }
               &:first-child{
                 padding-top:0;
                 width:335px;
               }
               &:nth-child(4){
                 width:168px;
               }
             }
          }
        }
      }
    }
    .c3-right{
      width:278px;
      float:left;
      border:1px solid #e6e6e6;
      ul{
        overflow:hidden;
        li{
          float:left;
          width:138px;
          text-align:center;
          line-height:46px;
          height:46px;
          color:#666666;
          background:#f5f5f5;
          border-bottom:1px solid #e6e6e6;
          &:first-child{
            border-right:1px solid #e6e6e6;
          }
        }
      }
      .c3r3{
         height:450px;
        padding-left:15px;
        .c3r31{
          ol{
            margin-left:15px;
            list-style:decimal;
            list-style-color:red;
            li{
              list-style:decimal;
              height:32px;
              padding-left:20px;
              color:#646464;
              font-size:12px;
              line-height:32px;
              border-bottom: 1px solid #e5e5e5;
            }
          }
        }
      }
    }
  }
  .c5{
    width:1200px;
    overflow:hidden;
    margin:0 auto 30px;
    .c5-top{
      width:100%;
      height:32px;
      li{
        font-size:16px;
        line-height:32px;
        color:#323232;
        float:left;
        &:first-child{
          font-size:20px;
          text-indent:8px;
          .ss3{
            margin:0 20px 0 17px;
          }
        }
        span{
          display:inline-block;
        }
        
        a{
          display:inline-block;
          color:#323232;
          span{
            font-size:12px;
            line-height:32px;
          }
          .ss1{
            margin-left:6px;
          }
        }
        .ss2{
          margin:0 17px;
        }
      }
      
    }
    .box5{
      overflow:hidden;
      border-top:1px solid #e6e6e6;
      border-left:1px solid #e6e6e6;
      width:100%;
      ul{
        width:400px;
        float:left;
        li{
          float:left;
          width: 199px;
          height:170px;
          border-right:1px solid #e6e6e6;
          border-bottom:1px solid #e6e6e6;
        }
      }
      .c55b3{
        border-left: 1px solid #e6e6e6;
      }
      .c55b2{
         float:left;
        border-bottom:1px solid #e6e6e6;
        a{
          display:block;
        }
      }
    }
    .c5-bot{
      width:1198px;
      height: 64px;
      border:1px solid #e6e6e6;
      border-top:none;
      background:#f7f7f7;
      a{
        float:left;
        margin-top:10px;
        border-right:1px dashed #6e6e6e;
        &:last-child{
          border-right:none;
        }
      }
    }
  }
  .c7{
    width:1200px;
    margin:0 auto 30px;
    h4{
      height:40px;
      line-height:40px;
      font-size:20px;
      color:#323232;
    }
    ul{
      width:100%;
      overflow:hidden;
      li{
        float:left;
        width:230px;
        height:140px;
        border:1px solid #e6e6e6;
        margin-right:10px;
        &:last-child{
          margin:0;
        }
      }
    }
  }
  .c8 {
    .box5{
      .c55b1{
        width:221px;
        li{
          clear:both;
          width:220px;
          height:194px;
        }
      }
      .c55b2{
        width:314px;
      }
      .c55b3{
        width:663px;
        li{
          float:left;
          width:220px;
          height:194px;
        }
      }
    }
    
  }
  .c9{
    width:1200px;
    margin:0 auto 30px;
    h4{
      height:40px;
      line-height:40px;
      font-size:20px;
      color:#ff2832;
      margin-bottom:10px;
      border-bottom:2px solid #ff3228;
    }
    ul{
      border:1px solid #e6e6e6;
      padding:10px 5px;
      overflow:hidden;
      li{
        width:196px;
        padding-bottom:6px;
        float:left;
        //border:1px solid #cccccc;
        a{
          display:block;
          font-size:12px;
          color:#666666;
          line-height:16px;
          img{
            margin:5px auto;
            width:190px;
            height:190px;
          }
        }
        .jss{
          padding:0 2px;
        }
        p{
          font-size:14px;
          color:#ff2832;
          line-height:26px;
          text-indent:3px;
          padding: 0 10px 0 3px;
          span{
            float:right;
            font-size:12px;
            color:#787878;
          }
        }
      }
    }
  }
}
//foot
.foot{
  margin-top:20px;
  width:100%;
  border-top:2px solid #ff2832;
  .foot1{
    background:#fafafa;
    height:78px;
    border-bottom:1px solid #ebebeb;
    .foot1a {
      width:940px;
      margin:0 auto;
      a{
        margin-top:12px;
        float:left;
        width:235px;
        height:51px;
        &:nth-child(2) {
          background-position:0 -52px;
        }
        &:nth-child(3) {
          background-position:0 -104px;
        }
        &:nth-child(4) {
          background-position:0 -156px;
        }
      }
      
    }
    
  }
  .foot2{
    padding:30px 0 23px;
    overflow: hidden;
      .uls{
        width:940px;
        margin:0 auto;
        .lis1{
          float:left;
          width:86px;
          margin-right:70px;
          h6{
            font-size:12px;
            color:#323232;
            text-align:center;
            line-height:36px;
          }
          ul li{
            font-size:12px;
            height:20px;
            text-align:center;
            a{
              color:#7d7d7d;
              line-height:20px;
              text-align:center;
            }
            
          }
          
        }
        
      }
  }
  .foot3{
    border-top:1px solid #ebebeb;
    ul{
      overflow: hidden;
      margin: 0 auto;
      width:710px;
      li{
         float:left;
          height:56px;
        a{
          padding:0 20px 0 18px;
          color:#8c8c8c;
          font-size:12px;
          line-height:54px;
        }
        .s6 {
          background:url("../img/sub_line_bg.png") ;
          display: inline-block;
          width: 2px;
          height: 14px;
          line-height:56px;
        }
      }
    }
    h5{
      color:#8c8c8c;
      font-size: 14px;
      text-align: center;
      line-height: 38px;
      font-weight: 100;
    }
    p{
      text-align: center;
      font-size: 12px;
      color:#8c8c8c;
      line-height: 22px;
      &:nth-child(2){
        line-height: 18px;
      }
    }
    .foot3c{
      overflow: hidden;
      width:915px;
      margin:25px auto 65px;
      a{
        float:left;
        margin-right:50px;
        &:last-child{
          margin-right:0;
        }
      }
    }
    
  }       
  
}
  

             