@charset "UTF-8";
/* CSS Document */
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, form, hr, fieldset, h1, h2, h3, h4, h5, h6, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial;
  width: 100%; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: block;
  border: 0; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.s1 {
  background: url("../img/s1.png"); }

.s3 {
  background: url("../img/s3.png"); }

.s4 {
  background: url("../img/s4.png"); }

.s5 {
  background: url("../img/footer_bg.png") no-repeat; }

.header {
  width: 100%;
  border-bottom: 3px solid #ff2832; }
  .header:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
  .header .head {
    width: 1200px;
    margin: 0 auto;
    display: block;
    overflow: hidden; }
  .header .h-nav {
    width: 100%;
    height: 34px;
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2; }
    .header .h-nav .nav {
      width: 1200px;
      margin: 0 auto; }
      .header .h-nav .nav:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .header .h-nav .nav .address {
        float: left;
        margin-top: 2px;
        height: 24px;
        line-height: 24px;
        text-indent: 8px;
        padding-right: 11px;
        font-size: 12px;
        color: #646464;
        position: relative; }
        .header .h-nav .nav .address .s1 {
          display: inline-block;
          margin-left: 4px;
          background-position: 45px 0;
          width: 5px;
          height: 5px; }
        .header .h-nav .nav .address ul {
          background: #ffffff;
          position: absolute;
          top: 22px;
          left: 0px;
          z-index: 10;
          width: 296px;
          border: 1px solid #e6e6e6;
          padding: 8px 0px 5px 12px;
          overflow: hidden;
          display: none; }
          .header .h-nav .nav .address ul li {
            float: left;
            width: 58px;
            height: 27px;
            line-height: 27px;
            font-size: 12px;
            color: #646464; }
      .header .h-nav .nav .h-nav-nav {
        margin-top: 2px;
        float: right;
        height: 32px; }
        .header .h-nav .nav .h-nav-nav .h-hi {
          float: left;
          width: 185px;
          font-size: 12px;
          color: #646464;
          padding-left: 5px;
          height: 34px;
          line-height: 34px; }
          .header .h-nav .nav .h-nav-nav .h-hi a {
            display: inline-block;
            color: #ff2832;
            height: 34px;
            line-height: 34px; }
            .header .h-nav .nav .h-nav-nav .h-hi a:first-child {
              width: 24px; }
            .header .h-nav .nav .h-nav-nav .h-hi a:last-child {
              width: 50px;
              margin-left: 5px;
              color: #646464; }
              .header .h-nav .nav .h-nav-nav .h-hi a:last-child:hover {
                color: #ff2832; }
        .header .h-nav .nav .h-nav-nav ul {
          float: left; }
          .header .h-nav .nav .h-nav-nav ul li {
            position: relative;
            float: left;
            padding: 0 8px 0 7px;
            height: 34px;
            line-height: 34px;
            background: url(../img/bj1.jpg) no-repeat center left; }
            .header .h-nav .nav .h-nav-nav ul li:hover a {
              color: #ff2832; }
            .header .h-nav .nav .h-nav-nav ul li:first-child {
              background: none; }
            .header .h-nav .nav .h-nav-nav ul li a {
              color: #646464;
              font-size: 12px;
              height: 14px;
              line-height: 34px; }
            .header .h-nav .nav .h-nav-nav ul li .s2 {
              display: inline-block;
              background: url("../img/car.jpg");
              margin: 0 9px 0 12px;
              width: 15px;
              height: 14px; }
            .header .h-nav .nav .h-nav-nav ul li .s1 {
              display: inline-block;
              margin-left: 4px;
              background-position: 45px 0;
              width: 5px;
              height: 5px; }
            .header .h-nav .nav .h-nav-nav ul li ul {
              position: absolute;
              top: 28px;
              left: 0;
              background: #ffffff;
              display: none; }
              .header .h-nav .nav .h-nav-nav ul li ul li {
                clear: both;
                background: none;
                line-height: 22px;
                height: 22px;
                padding: 0px;
                text-indent: 8px; }
          .header .h-nav .nav .h-nav-nav ul .hea-lix:hover ul {
            display: block; }
            .header .h-nav .nav .h-nav-nav ul .hea-lix:hover ul a {
              color: #646464; }
              .header .h-nav .nav .h-nav-nav ul .hea-lix:hover ul a:hover {
                color: #ff2832; }
  .header .h-sech {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    .header .h-sech .imgs {
      float: left; }
    .header .h-sech .serch {
      padding-top: 20px;
      float: left; }
      .header .h-sech .serch form .soucuo {
        width: 408px;
        height: 36px;
        text-indent: 8px;
        color: #666666;
        font-size: 12px;
        border: 2px solid #ff2832;
        border-right: none;
        vertical-align: bottom;
        outline: none; }
      .header .h-sech .serch form .cus {
        margin-left: -5px;
        width: 106px;
        height: 40px;
        border: 2px solid #ff2832;
        text-indent: 14px;
        border-left: none;
        color: #969696;
        vertical-align: bottom;
        background: #f6f6f6;
        font-size: 16px;
        outline: none; }
        .header .h-sech .serch form .cus option {
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          color: #646464;
          background: #fff;
          outline: none; }
      .header .h-sech .serch form span {
        margin-left: -5px;
        height: 40px;
        width: 48px;
        display: inline-block;
        vertical-align: bottom; }
      .header .h-sech .serch form .s3 {
        background-position: 0px -390px; }
      .header .h-sech .serch .sec-bottom:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .header .h-sech .serch .sec-bottom .box1 {
        float: left;
        color: #969696;
        font-size: 12px;
        line-height: 30px; }
        .header .h-sech .serch .sec-bottom .box1 a {
          margin: 0 8px;
          color: #969696; }
      .header .h-sech .serch .sec-bottom .goa {
        float: right;
        color: #969696;
        font-size: 12px;
        line-height: 30px; }
    .header .h-sech .dcn {
      float: right;
      padding-top: 20px;
      width: 200px;
      height: 40px; }
      .header .h-sech .dcn a {
        float: left;
        font-size: 12px; }
        .header .h-sech .dcn a svg {
          float: left;
          padding-left: 3px;
          font-size: 24px;
          height: 40px;
          line-height: 40px; }
      .header .h-sech .dcn .a1 {
        height: 40px;
        background: #ff2832;
        width: 111px;
        text-indent: 8px;
        line-height: 40px;
        color: #fff; }
        .header .h-sech .dcn .a1 .s4 {
          display: inline-block;
          background-position: 0px -4px;
          width: 23px;
          height: 27px; }
      .header .h-sech .dcn .a2 {
        height: 36px;
        border: 2px solid #dcdcdc;
        border-left: none;
        background: #f6f6f6;
        width: 86px;
        color: #64647a;
        text-align: center;
        line-height: 36px; }
  .header .h-bot {
    width: 1200px;
    margin: 0 auto;
    height: 40px; }
    .header .h-bot li {
      float: left;
      height: 40px; }
      .header .h-bot li:hover a {
        color: #ff2832; }
      .header .h-bot li:first-child {
        background: #ff2832; }
        .header .h-bot li:first-child a {
          width: 155px;
          margin: 0 20px;
          color: #ffffff; }
          .header .h-bot li:first-child a span {
            float: right;
            width: 12px;
            height: 7px;
            padding-right: 7px; }
      .header .h-bot li a {
        line-height: 40px;
        height: 40px;
        font-size: 12px;
        display: block;
        margin-left: 32px;
        color: #323232;
        font-weight: 600; }

.banner {
  width: 100%;
  margin-bottom: 30px; }
  .banner .ban {
    width: 1200px;
    margin: 0 auto;
    height: 488px; }
    .banner .ban .ban-boxleft {
      width: 200px;
      height: 487px;
      position: relative;
      float: left; }
      .banner .ban .ban-boxleft ul {
        background: #fafafa;
        height: 483px;
        padding-top: 5px; }
        .banner .ban .ban-boxleft ul li {
          height: 30px;
          width: 182px;
          padding-left: 18px; }
          .banner .ban .ban-boxleft ul li a {
            color: #323232;
            font-size: 12px;
            line-height: 30px;
            margin-right: 10px; }
      .banner .ban .ban-boxleft .ban-left-b1 {
        display: none;
        padding: 7px 19px 0 18px;
        position: absolute;
        top: 0px;
        left: 199px;
        width: 997px;
        min-height: 488px;
        background: #fff; }
        .banner .ban .ban-boxleft .ban-left-b1 div {
          line-height: 26px; }
          .banner .ban .ban-boxleft .ban-left-b1 div a {
            line-height: 20px;
            display: inline-block;
            height: 20px;
            padding: 0 8px;
            background: #a2a2a2;
            color: #fff;
            font-size: 12px; }
        .banner .ban .ban-boxleft .ban-left-b1 li {
          width: 997px;
          height: 35px;
          padding: 0; }
          .banner .ban .ban-boxleft .ban-left-b1 li a {
            float: left;
            width: 70px;
            height: 35px;
            line-height: 35px;
            font-size: 12px;
            color: #ff2832;
            margin: 0; }
          .banner .ban .ban-boxleft .ban-left-b1 li ul {
            float: left;
            height: auto;
            width: 890px;
            padding: 0;
            background: #fff;
            border-bottom: 1px dashed #e6e6e6; }
            .banner .ban .ban-boxleft .ban-left-b1 li ul li {
              width: 890px; }
              .banner .ban .ban-boxleft .ban-left-b1 li ul li a {
                line-height: 35px;
                color: #646464;
                display: inline-block;
                padding: 0 10px;
                background: #fff;
                width: auto; }
    .banner .ban .ban-b-con {
      float: left;
      width: 796px; }
      .banner .ban .ban-b-con .cont1 {
        width: 796px;
        height: 326px; }
        .banner .ban .ban-b-con .cont1 .swiper-pagination .swiper-pagination-bullet {
          width: 20px;
          height: 20px; }
      .banner .ban .ban-b-con .cont2 {
        width: 794px;
        height: 160px;
        border: 1px solid #e6e6e6; }
        .banner .ban .ban-b-con .cont2 ul {
          width: 794px;
          height: 160px; }
          .banner .ban .ban-b-con .cont2 ul li {
            float: left;
            width: 198px;
            height: 160px;
            border-right: 1px solid #e6e6e6; }
            .banner .ban .ban-b-con .cont2 ul li:last-child {
              border: none;
              width: 197px; }
    .banner .ban .ban-b-right {
      float: left;
      width: 202px;
      height: 486px;
      border: 1px solid #e6e6e6; }
      .banner .ban .ban-b-right .b-r-1 {
        display: block; }
      .banner .ban .ban-b-right .b-r-c {
        height: 171px;
        boder-bottom: 1px solid #e6e6e;
        position: relative;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6; }
        .banner .ban .ban-b-right .b-r-c .rc-t {
          height: 29px; }
          .banner .ban .ban-b-right .b-r-c .rc-t span {
            display: inline-block;
            width: 98px;
            height: 28px;
            font-size: 12px;
            color: #646464;
            background: #f0f0f0;
            border-bottom: 1px solid #e6e6e6;
            line-height: 28px;
            text-align: center;
            border-right: 1px solid #e6e6e6; }
            .banner .ban .ban-b-right .b-r-c .rc-t span:last-child {
              border-right: none; }
        .banner .ban .ban-b-right .b-r-c ul {
          padding-top: 8px;
          width: 100%;
          position: absolute;
          background: #fff;
          left: 0;
          top: 29px; }
          .banner .ban .ban-b-right .b-r-c ul li {
            margin-left: 10px;
            line-height: 25px;
            font-size: 12px;
            color: #646464; }
      .banner .ban .ban-b-right .b-r-t {
        height: 118px;
        width: 202px; }
        .banner .ban .ban-b-right .b-r-t .btt1 {
          height: 118px;
          width: 202px; }

.center .c1 {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto 30px; }
  .center .c1 .c1L {
    float: left;
    width: 996px; }
    .center .c1 .c1L .c1l-t {
      width: 100%;
      height: 39px;
      overflow: hidden;
      border-bottom: 2px solid #3c3c3c; }
      .center .c1 .c1L .c1l-t a {
        float: left; }
      .center .c1 .c1L .c1l-t .timers {
        float: left;
        margin: 0px 95px 0 20px; }
      .center .c1 .c1L .c1l-t .tto {
        float: left; }
        .center .c1 .c1L .c1l-t .tto a {
          margin-right: 56px;
          color: #666666;
          font-size: 20px;
          line-height: 39px; }
    .center .c1 .c1L .c1l-b {
      width: 100%;
      overflow: hidden;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6; }
      .center .c1 .c1L .c1l-b li {
        float: left;
        width: 198px;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6; }
        .center .c1 .c1L .c1l-b li .imgss {
          display: block; }
          .center .c1 .c1L .c1l-b li .imgss img {
            margin: 10px auto 0px; }
        .center .c1 .c1L .c1l-b li .box1 {
          width: 150px;
          height: 8px;
          margin: 0px auto;
          position: relative;
          background: #ffb7b7;
          border-radius: 3px; }
          .center .c1 .c1L .c1l-b li .box1 span {
            position: absolute;
            color: #ffffff;
            font-size: 12px;
            text-align: center;
            line-height: 20px; }
            .center .c1 .c1L .c1l-b li .box1 span:first-child {
              left: 0;
              top: 0;
              width: 30px;
              height: 8px;
              border-radius: 3px;
              background: #fc2c3a; }
            .center .c1 .c1L .c1l-b li .box1 span:last-child {
              left: 37px;
              top: -6px;
              width: 76px;
              height: 20px;
              border-radius: 10px;
              background: #fe8d91; }
        .center .c1 .c1L .c1l-b li .redus {
          display: block;
          margin-top: 6px;
          color: #646464;
          font-size: 12px;
          line-height: 24px;
          text-indent: 10px;
          width: 180px;
          overflow: hidden;
          white-space: nowrap; }
        .center .c1 .c1L .c1l-b li p {
          margin-bottom: 7px;
          color: #ff2832;
          font-size: 14px;
          line-height: 22px;
          text-indent: 10px; }
          .center .c1 .c1L .c1l-b li p .yjs {
            font-size: 12px;
            color: #969696;
            text-decoration-line: line-through; }
  .center .c1 .c1R {
    float: left;
    width: 204px; }
    .center .c1 .c1R .c1r-t {
      height: 39px;
      border-bottom: 2px solid #ff2832; }
      .center .c1 .c1R .c1r-t h4 {
        float: left;
        line-height: 39px;
        width: 80px;
        text-indent: 8px;
        color: #ff2832;
        font-size: 20px; }
      .center .c1 .c1R .c1r-t span {
        margin-top: 16px;
        float: right;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 6px;
        background: #ff2832; }
    .center .c1 .c1R .c1r-b ul {
      width: 100%; }
      .center .c1 .c1R .c1r-b ul li {
        width: 202px;
        height: 113.2px;
        border: 1px solid #e5e5e5;
        border-top: none; }
.center .c2 {
  margin-bottom: 30px; }
  .center .c2 .c2t {
    width: 1200px;
    margin: 0 auto; }
    .center .c2 .c2t .aleft {
      float: left;
      height: 40px; }
    .center .c2 .c2t .aright {
      float: right;
      height: 40px;
      line-height: 40px;
      color: #fa5c98;
      font-size: 12px; }
  .center .c2 .c2b {
    overflow: hidden;
    width: 1199px;
    margin: 0 auto;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6; }
    .center .c2 .c2b li {
      float: left;
      width: 198.84px;
      overflow: hidden;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6; }
    .center .c2 .c2b .li2-1 {
      height: 280px; }
    .center .c2 .c2b .li2-2 {
      height: 238px; }
    .center .c2 .c2b .li2-3 {
      width: 198px;
      line-height: 98px; }
      .center .c2 .c2b .li2-3 a {
        float: left; }
        .center .c2 .c2b .li2-3 a:nth-child(1) {
          width: 99px;
          height: 119px;
          border-right: 1px dashed #e6e6e6;
          border-bottom: 1px dashed #e6e6e6; }
        .center .c2 .c2b .li2-3 a:nth-child(2) {
          width: 98px;
          height: 119px;
          border-bottom: 1px dashed #e6e6e6; }
        .center .c2 .c2b .li2-3 a:nth-child(3) {
          width: 99px;
          height: 118px;
          border-right: 1px dashed #e6e6e6; }
        .center .c2 .c2b .li2-3 a:nth-child(4) {
          width: 98px;
          height: 118px; }
        .center .c2 .c2b .li2-3 a img {
          margin: 34px auto; }
.center .c3 {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto 30px; }
  .center .c3 .c3-left {
    width: 910px;
    margin-right: 10px;
    float: left; }
    .center .c3 .c3-left .c3l-top {
      height: 46px;
      margin-bottom: 10px; }
      .center .c3 .c3-left .c3l-top h3 {
        float: left;
        width: 333px;
        height: 44px;
        color: #323232;
        font-size: 20px;
        line-height: 44px;
        border-bottom: 2px solid #000000; }
      .center .c3 .c3-left .c3l-top ul {
        float: left; }
        .center .c3 .c3-left .c3l-top ul li {
          float: left;
          width: 114px;
          height: 43px;
          text-align: center;
          line-height: 43px;
          background: #f5f5f5;
          border-right: 1px solid #e6e6e6;
          border-top: 1px solid #e6e6e6;
          border-bottom: 2px solid #000000; }
    .center .c3 .c3-left .c3l-bot {
      border-top: 1px solid #e6e6e6; }
      .center .c3 .c3-left .c3l-bot .c3B1 .b1-l {
        float: left;
        width: 238px;
        border: 1px solid #e6e6e6;
        border-top: none; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-l .books {
          display: block;
          height: 329px;
          overflow: hidden; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-l .box31 {
          width: 238px;
          padding-left: 8px; }
          .center .c3 .c3-left .c3l-bot .c3B1 .b1-l .box31 a {
            display: inline-block;
            width: 75px;
            text-indent: 10px;
            font-size: 12px;
            margin-top: 3px;
            line-height: 25px;
            color: #323232; }
      .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li {
        padding-top: 5px;
        height: 215px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        float: left;
        width: 166px; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li img {
          margin: 0px auto; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li a {
          display: block;
          width: 146px;
          font-size: 12px;
          color: #646464;
          overflow: hidden;
          white-space: nowrap;
          line-height: 18px;
          text-indent: 10px; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li p {
          margin-bottom: 22px;
          font-size: 14px;
          color: #ff2832;
          line-height: 18px;
          text-indent: 7px; }
          .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li p span {
            font-size: 10px;
            text-decoration-line: line-through;
            color: #969696; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li:first-child {
          padding-top: 0;
          width: 335px; }
        .center .c3 .c3-left .c3l-bot .c3B1 .b1-r li:nth-child(4) {
          width: 168px; }
  .center .c3 .c3-right {
    width: 278px;
    float: left;
    border: 1px solid #e6e6e6; }
    .center .c3 .c3-right ul {
      overflow: hidden; }
      .center .c3 .c3-right ul li {
        float: left;
        width: 138px;
        text-align: center;
        line-height: 46px;
        height: 46px;
        color: #666666;
        background: #f5f5f5;
        border-bottom: 1px solid #e6e6e6; }
        .center .c3 .c3-right ul li:first-child {
          border-right: 1px solid #e6e6e6; }
    .center .c3 .c3-right .c3r3 {
      height: 450px;
      padding-left: 15px; }
      .center .c3 .c3-right .c3r3 .c3r31 ol {
        margin-left: 15px;
        list-style: decimal;
        list-style-color: red; }
        .center .c3 .c3-right .c3r3 .c3r31 ol li {
          list-style: decimal;
          height: 32px;
          padding-left: 20px;
          color: #646464;
          font-size: 12px;
          line-height: 32px;
          border-bottom: 1px solid #e5e5e5; }
.center .c5 {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto 30px; }
  .center .c5 .c5-top {
    width: 100%;
    height: 32px; }
    .center .c5 .c5-top li {
      font-size: 16px;
      line-height: 32px;
      color: #323232;
      float: left; }
      .center .c5 .c5-top li:first-child {
        font-size: 20px;
        text-indent: 8px; }
        .center .c5 .c5-top li:first-child .ss3 {
          margin: 0 20px 0 17px; }
      .center .c5 .c5-top li span {
        display: inline-block; }
      .center .c5 .c5-top li a {
        display: inline-block;
        color: #323232; }
        .center .c5 .c5-top li a span {
          font-size: 12px;
          line-height: 32px; }
        .center .c5 .c5-top li a .ss1 {
          margin-left: 6px; }
      .center .c5 .c5-top li .ss2 {
        margin: 0 17px; }
  .center .c5 .box5 {
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    width: 100%; }
    .center .c5 .box5 ul {
      width: 400px;
      float: left; }
      .center .c5 .box5 ul li {
        float: left;
        width: 199px;
        height: 170px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6; }
    .center .c5 .box5 .c55b3 {
      border-left: 1px solid #e6e6e6; }
    .center .c5 .box5 .c55b2 {
      float: left;
      border-bottom: 1px solid #e6e6e6; }
      .center .c5 .box5 .c55b2 a {
        display: block; }
  .center .c5 .c5-bot {
    width: 1198px;
    height: 64px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #f7f7f7; }
    .center .c5 .c5-bot a {
      float: left;
      margin-top: 10px;
      border-right: 1px dashed #6e6e6e; }
      .center .c5 .c5-bot a:last-child {
        border-right: none; }
.center .c7 {
  width: 1200px;
  margin: 0 auto 30px; }
  .center .c7 h4 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #323232; }
  .center .c7 ul {
    width: 100%;
    overflow: hidden; }
    .center .c7 ul li {
      float: left;
      width: 230px;
      height: 140px;
      border: 1px solid #e6e6e6;
      margin-right: 10px; }
      .center .c7 ul li:last-child {
        margin: 0; }
.center .c8 .box5 .c55b1 {
  width: 221px; }
  .center .c8 .box5 .c55b1 li {
    clear: both;
    width: 220px;
    height: 194px; }
.center .c8 .box5 .c55b2 {
  width: 314px; }
.center .c8 .box5 .c55b3 {
  width: 663px; }
  .center .c8 .box5 .c55b3 li {
    float: left;
    width: 220px;
    height: 194px; }
.center .c9 {
  width: 1200px;
  margin: 0 auto 30px; }
  .center .c9 h4 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ff2832;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff3228; }
  .center .c9 ul {
    border: 1px solid #e6e6e6;
    padding: 10px 5px;
    overflow: hidden; }
    .center .c9 ul li {
      width: 196px;
      padding-bottom: 6px;
      float: left; }
      .center .c9 ul li a {
        display: block;
        font-size: 12px;
        color: #666666;
        line-height: 16px; }
        .center .c9 ul li a img {
          margin: 5px auto;
          width: 190px;
          height: 190px; }
      .center .c9 ul li .jss {
        padding: 0 2px; }
      .center .c9 ul li p {
        font-size: 14px;
        color: #ff2832;
        line-height: 26px;
        text-indent: 3px;
        padding: 0 10px 0 3px; }
        .center .c9 ul li p span {
          float: right;
          font-size: 12px;
          color: #787878; }

.foot {
  margin-top: 20px;
  width: 100%;
  border-top: 2px solid #ff2832; }
  .foot .foot1 {
    background: #fafafa;
    height: 78px;
    border-bottom: 1px solid #ebebeb; }
    .foot .foot1 .foot1a {
      width: 940px;
      margin: 0 auto; }
      .foot .foot1 .foot1a a {
        margin-top: 12px;
        float: left;
        width: 235px;
        height: 51px; }
        .foot .foot1 .foot1a a:nth-child(2) {
          background-position: 0 -52px; }
        .foot .foot1 .foot1a a:nth-child(3) {
          background-position: 0 -104px; }
        .foot .foot1 .foot1a a:nth-child(4) {
          background-position: 0 -156px; }
  .foot .foot2 {
    padding: 30px 0 23px;
    overflow: hidden; }
    .foot .foot2 .uls {
      width: 940px;
      margin: 0 auto; }
      .foot .foot2 .uls .lis1 {
        float: left;
        width: 86px;
        margin-right: 70px; }
        .foot .foot2 .uls .lis1 h6 {
          font-size: 12px;
          color: #323232;
          text-align: center;
          line-height: 36px; }
        .foot .foot2 .uls .lis1 ul li {
          font-size: 12px;
          height: 20px;
          text-align: center; }
          .foot .foot2 .uls .lis1 ul li a {
            color: #7d7d7d;
            line-height: 20px;
            text-align: center; }
  .foot .foot3 {
    border-top: 1px solid #ebebeb; }
    .foot .foot3 ul {
      overflow: hidden;
      margin: 0 auto;
      width: 710px; }
      .foot .foot3 ul li {
        float: left;
        height: 56px; }
        .foot .foot3 ul li a {
          padding: 0 20px 0 18px;
          color: #8c8c8c;
          font-size: 12px;
          line-height: 54px; }
        .foot .foot3 ul li .s6 {
          background: url("../img/sub_line_bg.png");
          display: inline-block;
          width: 2px;
          height: 14px;
          line-height: 56px; }
    .foot .foot3 h5 {
      color: #8c8c8c;
      font-size: 14px;
      text-align: center;
      line-height: 38px;
      font-weight: 100; }
    .foot .foot3 p {
      text-align: center;
      font-size: 12px;
      color: #8c8c8c;
      line-height: 22px; }
      .foot .foot3 p:nth-child(2) {
        line-height: 18px; }
    .foot .foot3 .foot3c {
      overflow: hidden;
      width: 915px;
      margin: 25px auto 65px; }
      .foot .foot3 .foot3c a {
        float: left;
        margin-right: 50px; }
        .foot .foot3 .foot3c a:last-child {
          margin-right: 0; }

/*# sourceMappingURL=dd-index.css.map */
