@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input,figure{
  margin:0;
  padding:0;
}
body{
  font-family: "微软雅黑",Arial;
  width:100%;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  display:block;
  border: 0;
  
}

//字体小图标
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.s3{
  background:url("../img/s3.png");
}


//header
.header {
  width: 100%;
  border-bottom:3px solid #ff2832;
  &:after{
    content:"";
    clear:both;
    display: block;
    height:0;
    overflow: hidden;
    visibility: hidden;
  }
  .h-nav {
    width: 100%;
    height: 34px;
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    .nav {
      width: 1200px;
      margin: 0 auto;
      &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      .h-nav-nav {
        margin-top: 2px;
        float: right;
        height: 32px;
        .h-hi {
          float: left;
          width: 185px;
          font-size: 12px;
          color: #646464;
          padding-left: 5px;
          height: 34px;
          line-height: 34px;
          a {
            display: inline-block;
            color: #ff2832;
            height: 34px;
            line-height: 34px;
            &:first-child {
              width: 24px;
            }
            &:last-child {
              width: 50px;
              margin-left: 5px;
              color: #646464;
              &:hover{
                color:#ff2832;
              }
            }
          }
        }
        ul {
          float: left;
          li {
            &:hover a{
              color:#ff2832;
            }
            position: relative;
            float: left;
            padding: 0 8px 0 7px;
            height: 34px;
            line-height: 34px;
            background: url(../img/bj1.jpg) no-repeat center left;
            &:first-child {
              background: none;
            }
            a {
              color: #646464;
              font-size: 12px;
              height: 14px;
              line-height: 34px;

            }
            .s2 {
              display: inline-block;
              background: url("../img/car.jpg");
              margin: 0 9px 0 12px;
              width: 15px;
              height: 14px;
            }
            .s1 {
              display: inline-block;
              margin-left: 4px;
              background-position: 45px 0;
              width: 5px;
              height: 5px;
            }
            ul {
              position: absolute;
              top: 28px;
              left: 0;
              background:#ffffff;
              display: none;
              li {
                clear: both;
                background: none;
                line-height: 22px;
                height: 22px;
                padding: 0px;
                text-indent: 8px;
              }
            }
          }
          .hea-lix:hover ul{
            display:block;
            a{
              color:#646464;
              &:hover{
                color:#ff2832;
              }
              
            }
          }
        }
      }
    }
  }
  .h-sech {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .imgs {
      float: left;
    }
    .serch {
      padding-top: 20px;
      float: left;
      form {

        .soucuo {
          width: 408px;
          height: 36px;
          text-indent: 8px;
          color: #666666;
          font-size: 12px;
          border: 2px solid #ff2832;
          border-right: none;
          vertical-align: bottom;
          outline: none;
        }
        .cus {
          margin-left: -5px;
          width: 106px;
          height: 40px;
          border: 2px solid #ff2832;
          text-indent: 14px;
          border-left: none;
          color: #969696;
          vertical-align: bottom;
          background: #f6f6f6;
          font-size: 16px;
          outline: none;
          option {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #646464;
            background: #fff;
            outline: none;
          }
        }
        .chaxun {
          margin-left: -5px;
          height: 40px;
          width: 48px;
          border:none;
          display: inline-block;
          vertical-align: bottom;
        }
        .s3 {
          background-position: 0px -390px;
        }
      }
      .sec-bottom {
        &:after {
          content: "";
          clear: both;
          display: block;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }
        .box1 {
          float: left;
          color: #969696;
          font-size: 12px;
          line-height: 30px;
          a {
            margin: 0 8px;
            color: #969696;
          }
        }
        .goa {
          float: right;
          color: #969696;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
    .dcn {
      float: right;
      padding-top:20px;
      width: 200px;
      height: 40px;
      a{
        float:left;
        font-size:12px;
        svg{
          float:left;
          padding-left:3px;
          font-size:24px;
          height: 40px;
          line-height:40px;
        }
      }
      .a1{
        height:40px;
        background:#ff2832;
        width:111px;
        text-indent:8px;
        line-height:40px;
        color:#fff;
        .s4 {
          display: inline-block;
          background-position: 0px -4px;
          width: 23px;
          height: 27px;
        }
      }
      .a2{
        height:36px;
        border:2px solid #dcdcdc;
        border-left:none;
        background:#f6f6f6;
        width:86px;
        color:#64647a;
        text-align: center;
        line-height:36px;
      }
    }
  }
  .h-bot{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    li{
      float:left;
      height:40px;
      &:hover a{
        color:#ff2832;
      }
      &:first-child{
        background:#ff2832;
        a{
          width:160px;
          margin:0 20px;
          color:#ffffff;
          span{
            float:right;
            width:12px;
            height:7px;
            padding-right:7px;
          }
        }
      }
     a{
       line-height:40px;
       height:40px;
       font-size:12px;
        display:block;
        margin-left:32px;
        color:#323232;
        font-weight: 600;
      }
    }
  }
}

//foot
.foot{
  margin-top:20px;
  width:100%;
  border-top:2px solid #ff2832;
  .foot1{
    background:#fafafa;
    height:78px;
    border-bottom:1px solid #ebebeb;
    .foot1a {
      width:940px;
      margin:0 auto;
      &:after{
        content:"";
        clear:both;
        display: block;
        height:0;
        overflow: hidden;
        visibility: hidden;
      }
      a{
        margin-top:12px;
        float:left;
        width:235px;
        height:51px;
        &:nth-child(2) {
          background-position:0 -52px;
        }
        &:nth-child(3) {
          background-position:0 -104px;
        }
        &:nth-child(4) {
          background-position:0 -156px;
        }
      }
      
    }
    
  }
  .foot2{
    padding:30px 0 23px;
    &:after{
      content:"";
      clear:both;
      display: block;
      height:0;
      overflow: hidden;
      visibility: hidden;
    }
      .uls{
        width:940px;
        margin:0 auto;
        .lis1{
          float:left;
          width:86px;
          margin-right:70px;
          h6{
            font-size:12px;
            color:#323232;
            text-align:center;
            line-height:36px;
          }
          ul li{
            font-size:12px;
            height:20px;
            text-align:center;
            a{
              color:#7d7d7d;
              line-height:20px;
              text-align:center;
              &:hover{
                color:#ff2832;
                text-decoration-line: underline;
              }
            }
            
          }
          
        }
        
      }
  }
  .foot3{
    border-top:1px solid #ebebeb;
    ul{
      &:after{
        content:"";
        clear:both;
        display: block;
        height:0;
        overflow: hidden;
        visibility: hidden;
      }
      margin: 0 auto;
      width:710px;
      li{
         float:left;
          height:56px;
        a{
          padding:0 20px 0 18px;
          color:#8c8c8c;
          font-size:12px;
          line-height:54px;
        }
        .s6 {
          background:url("../img/sub_line_bg.png") ;
          display: inline-block;
          width: 2px;
          height: 14px;
          line-height:56px;
        }
      }
    }
    h5{
      color:#8c8c8c;
      font-size: 14px;
      text-align: center;
      line-height: 38px;
      font-weight: 100;
    }
    p{
      text-align: center;
      font-size: 12px;
      color:#8c8c8c;
      line-height: 22px;
      &:nth-child(2){
        line-height: 18px;
      }
    }
    .foot3c{
      &:after{
        content:"";
        clear:both;
        display: block;
        height:0;
        overflow: hidden;
        visibility: hidden;
      }
      width:915px;
      margin:25px auto 65px;
      a{
        float:left;
        margin-right:50px;
        &:last-child{
          margin-right:0;
        }
      }
    }
    
  }       
  
}
  

             