@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input,figure{
  margin:0;
  padding:0;
}
body{
  font-family: "微软雅黑",Arial;
  width:100%;
  background-color: #f6f9fb;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  display:block;
  border: 0;

}

//字体小图标
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.s1{
  background:url("../img/s1.png");
}
.cs1{
  background:url("../img/cs1.png");
}

//侧边栏
.fixd1{
  display:block;
  position:absolute;
  right:50px;
  top:105px;
}
//header
.header {
  width: 100%;
  .head{
    background:#fff;
    width:960px;
    margin:0 auto;
    &:after{
      content:"";
      clear:both;
      display: block;
      height:0;
      overflow: hidden;
      visibility: hidden;
    }
    border-bottom:3px solid #f07700;
    border-top:2px solid #ebeeef;
    .aleft{
      float:left;
      width:180px;
      img{
        margin-top: 10px;
      }
    }
    .head-top {
      margin-top: 2px;
      float: right;
      ul {
        &:after{
          content:"";
          clear:both;
          display: block;
          height:0;
          overflow: hidden;
          visibility: hidden;
        }
        li {
          &:hover a{
            color:#ff6600;
            text-decoration-line: underline;
          }
          position: relative;
          float: left;
          padding: 0 8px 0 7px;
          height: 30px;
          line-height: 30px;
          background: url(../img/bj1.jpg) no-repeat center left;
          &:first-child {
            background: none;
          }
          &:last-child{
             padding-right:0px;
          }
          a {
            color: #646464;
            font-size: 12px;
            height: 14px;
            line-height: 30px;

          }
          .s2 {
            display: inline-block;
            background: url("../img/car.jpg");
            margin: 0 9px 0 12px;
            width: 15px;
            height: 14px;
          }
          .s1 {
            display: inline-block;
            margin-left: 4px;
            background-position: 45px 0;
            width: 5px;
            height: 5px;
          }
          ul {
            position: absolute;
            top: 28px;
            left: 0;
            background:#ffffff;
            display: none;
            li {
              clear: both;
              background: none;
              line-height: 22px;
              width:85px;
              height: 22px;
              padding: 0px;
              text-indent: 8px;
              
            }
          }
        }
        .hea-lix:hover ul{
          display:block;
          a{
            color:#646464;
            &:hover{
              color:#ff2832;
            }

          }
        }
      }
      .h-hi {
        width: 100%;
        font-size: 12px;
        color: #646464;
        padding-right:5px;
        height: 30px;
        text-align: right;
        line-height: 30px;
        a {
          &:hover{
            text-decoration-line: underline;
          }
          display: inline-block;
          height: 30px;
          line-height: 30px;
          &:first-child {
            width: 24px;
          }
          &:last-child {
            width: 50px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

//conter
.conter{
  background:#fff;
  margin: 30px auto 50px;
  width:940px;
  height:600px;
  padding:28px 10px 0;
  box-shadow: -10px 10px 3px #ebeeef;
  .c-top{
    overflow: hidden;
    .uf{
       float:left;
       padding-left:26px;
      li{
        height:46px;
        line-height: 46px;
        text-align: center;
        color:#464646;
        float:left;
        font-size: 14px;
        border:1px solid #e6e6e6;
        border-bottom:none;
        width:135px;
        &:last-child{
           margin-left:10px;
          background:#f5f5f5;
        }
      }
      
    }
    .ur{
       float:right;
      li{
        float:left;
        a{
          margin-left:10px;
          font-size:12px;
          line-height:46px;
          color:#646464;
          span{
            padding-left:2px;
            display: inline-block;
            width:16px;
            height:16px;
            vertical-align: middle;
          }
          .cs1{
            background-position: 0 0;
          }
        }
      }
    }
  }
  .sec-bott{
    width:960px;
    margin:0 auto;
    position:relative;
    border-top:1px solid  #eceef2;
    .box1{
      width:960px;
      position:absolute;
      top:0;
      left:0;
      .p1{
        margin-left:118px;
        margin-top:15px;
        width:692px;
        height:24px;
        font-size:12px;
        color:#828282;
        line-height:24px;
        background:#fef7f5;
        border:1px solid #fedbd1;
        img{
          display: inline-block;
          margin:5px 5px 0 3px;
        }
      }
      form{
        margin:30px auto 0px;
        width:400px;
        .pt2{
          overflow: hidden;
          height:40px;
          line-height:38px;
          .ps1{
            display: inline-block;
            font-weight: 600;
            width:55px;
            height:36px;
            line-height:38px;
            text-align: right;
            font-size:12px;
            color:#646464;
          }
          input{
            margin-left:10px;
            display: inline-block;
            width:308px;
            height:36px;
            font-size:12px;
            color:#6e6e6e;
            text-indent: 3px;
            border:1px solid #e6e6e6;
          }
          .pi1{
             width:170px;
          }
          .simg{
            display: inline-block;
            width:84px;
            height:36px;
            margin:0 5px;
            font-size: 18px;
            text-align: center;
            border:1px solid #323232;
            vertical-align: bottom;
          }
          .pst1{
            display:inline-block;
            font-size:14px;
            color:#1a66b3;
            cursor:pointer;
          }
          .pand{
            display:inline-block;
            vertical-align: bottom;
            width:15px;
            text-align: center;
            height:36px;
            line-height:36px;
            //border:1px solid red;
          }
        }
        .pt1{
            font-size:12px;
            height:30px;
            color:#787878;
            line-height:30px;
            text-indent:75px;
        }
         .pt3{
            margin-top:28px;
            height:30px;
           line-height:30px;
           font-size:12px;
            color:#3d3d3d;
           text-align: center;
         }
        .ipt2{
          margin-left:100px;
          width:178px;
          height:44px;
          background:#ff2832;
          border-radius:22px;
          border:none;
          text-align:center;
        }
      }
    }
    
  }
}


//foot
.foot{
  background:#fff;
  margin-top:20px;
  width:100%;
  border-top:1px solid #e6e6e6;
  .foot3{
    border-top:1px solid #ebebeb;
    ul{
      overflow: hidden;
      margin: 0 auto;
      width:710px;
      li{
        float:left;
        height:56px;
        a{
          padding:0 20px 0 18px;
          color:#8c8c8c;
          font-size:12px;
          line-height:54px;
        }
        .s6 {
          background:url("../img/sub_line_bg.png") ;
          display: inline-block;
          width: 2px;
          height: 14px;
          line-height:56px;
        }
      }
    }
    h5{
      color:#8c8c8c;
      font-size: 14px;
      text-align: center;
      line-height: 38px;
      font-weight: 100;
    }
    p{
      text-align: center;
      font-size: 12px;
      color:#8c8c8c;
      line-height: 22px;
      &:nth-child(2){
        line-height: 18px;
      }
    }
    .foot3c{
      overflow: hidden;
      width:915px;
      margin:25px auto 65px;
      a{
        float:left;
        margin-right:50px;
        &:last-child{
          margin-right:0;
        }
      }
    }
  }
}