@charset "UTF-8";
/* CSS Document */
body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, form, hr, fieldset, h1, h2, h3, h4, h5, h6, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial;
  width: 100%;
  background-color: #f6f9fb; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: block;
  border: 0; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.s1 {
  background: url("../img/s1.png"); }

.cs1 {
  background: url("../img/cs1.png"); }

.fixd1 {
  display: block;
  position: absolute;
  right: 50px;
  top: 105px; }

.header {
  width: 100%; }
  .header .head {
    background: #fff;
    width: 960px;
    margin: 0 auto;
    border-bottom: 3px solid #f07700;
    border-top: 2px solid #ebeeef; }
    .header .head:after {
      content: "";
      clear: both;
      display: block;
      height: 0;
      overflow: hidden;
      visibility: hidden; }
    .header .head .aleft {
      float: left;
      width: 180px; }
      .header .head .aleft img {
        margin-top: 10px; }
    .header .head .head-top {
      margin-top: 2px;
      float: right; }
      .header .head .head-top ul:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .header .head .head-top ul li {
        position: relative;
        float: left;
        padding: 0 8px 0 7px;
        height: 30px;
        line-height: 30px;
        background: url(../img/bj1.jpg) no-repeat center left; }
        .header .head .head-top ul li:hover a {
          color: #ff6600;
          text-decoration-line: underline; }
        .header .head .head-top ul li:first-child {
          background: none; }
        .header .head .head-top ul li:last-child {
          padding-right: 0px; }
        .header .head .head-top ul li a {
          color: #646464;
          font-size: 12px;
          height: 14px;
          line-height: 30px; }
        .header .head .head-top ul li .s2 {
          display: inline-block;
          background: url("../img/car.jpg");
          margin: 0 9px 0 12px;
          width: 15px;
          height: 14px; }
        .header .head .head-top ul li .s1 {
          display: inline-block;
          margin-left: 4px;
          background-position: 45px 0;
          width: 5px;
          height: 5px; }
        .header .head .head-top ul li ul {
          position: absolute;
          top: 28px;
          left: 0;
          background: #ffffff;
          display: none; }
          .header .head .head-top ul li ul li {
            clear: both;
            background: none;
            line-height: 22px;
            width: 85px;
            height: 22px;
            padding: 0px;
            text-indent: 8px; }
      .header .head .head-top ul .hea-lix:hover ul {
        display: block; }
        .header .head .head-top ul .hea-lix:hover ul a {
          color: #646464; }
          .header .head .head-top ul .hea-lix:hover ul a:hover {
            color: #ff2832; }
      .header .head .head-top .h-hi {
        width: 100%;
        font-size: 12px;
        color: #646464;
        padding-right: 5px;
        height: 30px;
        text-align: right;
        line-height: 30px; }
        .header .head .head-top .h-hi a {
          display: inline-block;
          height: 30px;
          line-height: 30px; }
          .header .head .head-top .h-hi a:hover {
            text-decoration-line: underline; }
          .header .head .head-top .h-hi a:first-child {
            width: 24px; }
          .header .head .head-top .h-hi a:last-child {
            width: 50px;
            margin-left: 5px; }

.conter {
  background: #fff;
  margin: 30px auto 50px;
  width: 940px;
  height: 600px;
  padding: 28px 10px 0;
  box-shadow: -10px 10px 3px #ebeeef; }
  .conter .c-top {
    overflow: hidden; }
    .conter .c-top .uf {
      float: left;
      padding-left: 26px; }
      .conter .c-top .uf li {
        height: 46px;
        line-height: 46px;
        text-align: center;
        color: #464646;
        float: left;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        border-bottom: none;
        width: 135px; }
        .conter .c-top .uf li:last-child {
          margin-left: 10px;
          background: #f5f5f5; }
    .conter .c-top .ur {
      float: right; }
      .conter .c-top .ur li {
        float: left; }
        .conter .c-top .ur li a {
          margin-left: 10px;
          font-size: 12px;
          line-height: 46px;
          color: #646464; }
          .conter .c-top .ur li a span {
            padding-left: 2px;
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle; }
          .conter .c-top .ur li a .cs1 {
            background-position: 0 0; }
  .conter .sec-bott {
    width: 960px;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid  #eceef2; }
    .conter .sec-bott .box1 {
      width: 960px;
      position: absolute;
      top: 0;
      left: 0; }
      .conter .sec-bott .box1 .p1 {
        margin-left: 118px;
        margin-top: 15px;
        width: 692px;
        height: 24px;
        font-size: 12px;
        color: #828282;
        line-height: 24px;
        background: #fef7f5;
        border: 1px solid #fedbd1; }
        .conter .sec-bott .box1 .p1 img {
          display: inline-block;
          margin: 5px 5px 0 3px; }
      .conter .sec-bott .box1 form {
        margin: 30px auto 0px;
        width: 400px; }
        .conter .sec-bott .box1 form .pt2 {
          overflow: hidden;
          height: 40px;
          line-height: 38px; }
          .conter .sec-bott .box1 form .pt2 .ps1 {
            display: inline-block;
            font-weight: 600;
            width: 55px;
            height: 36px;
            line-height: 38px;
            text-align: right;
            font-size: 12px;
            color: #646464; }
          .conter .sec-bott .box1 form .pt2 input {
            margin-left: 10px;
            display: inline-block;
            width: 308px;
            height: 36px;
            font-size: 12px;
            color: #6e6e6e;
            text-indent: 3px;
            border: 1px solid #e6e6e6; }
          .conter .sec-bott .box1 form .pt2 .pi1 {
            width: 170px; }
          .conter .sec-bott .box1 form .pt2 .simg {
            display: inline-block;
            width: 84px;
            height: 36px;
            margin: 0 5px;
            font-size: 18px;
            text-align: center;
            border: 1px solid #323232;
            vertical-align: bottom; }
          .conter .sec-bott .box1 form .pt2 .pst1 {
            display: inline-block;
            font-size: 14px;
            color: #1a66b3;
            cursor: pointer; }
          .conter .sec-bott .box1 form .pt2 .pand {
            display: inline-block;
            vertical-align: bottom;
            width: 15px;
            text-align: center;
            height: 36px;
            line-height: 36px; }
        .conter .sec-bott .box1 form .pt1 {
          font-size: 12px;
          height: 30px;
          color: #787878;
          line-height: 30px;
          text-indent: 75px; }
        .conter .sec-bott .box1 form .pt3 {
          margin-top: 28px;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          color: #3d3d3d;
          text-align: center; }
        .conter .sec-bott .box1 form .ipt2 {
          margin-left: 100px;
          width: 178px;
          height: 44px;
          background: #ff2832;
          border-radius: 22px;
          border: none;
          text-align: center; }

.foot {
  background: #fff;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e6e6e6; }
  .foot .foot3 {
    border-top: 1px solid #ebebeb; }
    .foot .foot3 ul {
      overflow: hidden;
      margin: 0 auto;
      width: 710px; }
      .foot .foot3 ul li {
        float: left;
        height: 56px; }
        .foot .foot3 ul li a {
          padding: 0 20px 0 18px;
          color: #8c8c8c;
          font-size: 12px;
          line-height: 54px; }
        .foot .foot3 ul li .s6 {
          background: url("../img/sub_line_bg.png");
          display: inline-block;
          width: 2px;
          height: 14px;
          line-height: 56px; }
    .foot .foot3 h5 {
      color: #8c8c8c;
      font-size: 14px;
      text-align: center;
      line-height: 38px;
      font-weight: 100; }
    .foot .foot3 p {
      text-align: center;
      font-size: 12px;
      color: #8c8c8c;
      line-height: 22px; }
      .foot .foot3 p:nth-child(2) {
        line-height: 18px; }
    .foot .foot3 .foot3c {
      overflow: hidden;
      width: 915px;
      margin: 25px auto 65px; }
      .foot .foot3 .foot3c a {
        float: left;
        margin-right: 50px; }
        .foot .foot3 .foot3c a:last-child {
          margin-right: 0; }

/*# sourceMappingURL=register.css.map */
